.scroll-pane {
    -fx-background-radius: 60;
    -fx-border-radius: 60;
    -fx-padding: 10;
    -fx-background-color: white;
}

.scroll-pane .viewport {
    -fx-background-radius: 15;
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-background-color: white;
}