.tab-pane:focused .tab:selected .focus-indicator {
    -fx-border-width: 0 ;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 0;
}
.tab-pane .tab-header-area .tab:selected {
    -fx-border-color: transparent transparent #000000 transparent;
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0 0 0 0;
    -fx-underline: true;
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}
